<div class="row mt-5 mb-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h1>

            <%- include ('../partials/messages') %>
            
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                    type="name"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="Full Name"
                    value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="example@email.com"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                    />
                </div>
                <div class="form-group">
                        <label for="mobilePhone">Mobile Number</label>
                        <input
                        type="tel"
                        id="mobilePhone"
                        name="mobilePhone"
                        class="form-control"
                        placeholder="000-000-00-00"
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                        value="<%= typeof mobilePhone != 'undefined' ? mobilePhone : '' %>"
                        />
                </div>
                <div class="form-group">
                        <label for="birthDate">Birthdate</label>
                        <input
                        type="date"
                        id="birthDate"
                        name="birthDate"
                        class="form-control"
                        value="<%= typeof birthDate != 'undefined' ? birthDate : '' %>"
                        />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="At Least 6 Characters"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input
                    type="password"
                    id="password2"
                    name="password2"
                    class="form-control"
                    placeholder="Repeat Your Password"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
        </div>
    </div>
</div>